<div class="shadow p-3 mb-2 bg-body rounded w-100 banner">
  <img src="images/banner.png" alt="">
</div>
<div class="p-2 mt-2">
  <div class="d-flex w-100 gap-3">
    <div class="shadow p-3 mb-2 bg-body rounded w-50 placeholder">
      <img src="images/placeholder-1.png" alt="">
      <div class="centered-text" routerLink="/create">Create User</div>
    </div>
    <div class="shadow p-3 mb-2 bg-body rounded w-50 placeholder">
      <img src="images/placeholder-2.jpg" alt="">
      <div class="centered-text" routerLink="/users">Users</div>
    </div>
  </div>
</div>

