<div class="container my-4">
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">User List</h5>
      <hr>
      <table class="table table-sm">
        <thead>
          <tr>
            <th scope="col">NAME</th>
            <th scope="col">Email</th>
            <th scope="col">ADDRESS</th>
            <th scope="col">ACTION</th>
          </tr>
        </thead>
        <tbody>
          @for (user of users; track user.id) {
            <tr>
              <td>{{user.name}}</td>
              <td>{{user.email}}</td>
              <td>{{user.address}}</td>
              <td>
                <div class="d-flex gap-2">
                  <img title="Edit" role="button" src="images/edit-icon.svg" alt="edit" [routerLink]="['/update/', user.id]" >
                  <img title="Delete" role="button" src="images/delete-icon.svg" alt="edit" (click)="deleteUser(user.id)">
                </div>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  </div>
</div>
